<section class="about" id="about">
  <div class="row">
    <!-- <div class="column"> -->
      {% include _conference-icon.html %}
      <h1>Conferência</h1>
      <p>O Python Day visa ser um dia de palestras e mini-cursos ligados à plataforma Python. Python é uma das plataformas em software livre que mais crescem no mundo e já é usada por várias empresas no Brasil como Globo.com, Governo Federal, Atépassar, JusBrasil entre outras e lá fora como Dropbox, Youtube, Instagram, Walt Disney, etc. Por ser uma plataforma livre também poder ser aplicada em vários ambientes: web, computação de alto desempenho, sistemas embarcados e interfaces gráficas.</p>

      <p>A comunidade Python está presente em todo o Brasil com mais de 20 células estaduais filiadas a uma grande Associação a PythonBrasil que é uma organização sem fins lucrativos com o objetivo de disseminar a plataforma e incentivar a realização de eventos. No estado, temos o Grupo de Usuários de Python do Rio Grande do (Grupy-RN) que conta com estudantes, profissionais e empresas participantes que usam Python de alguma forma.</p>

      <p>Visando estimular o uso da plataforma e até incentivar novos empreendedores e startups nascentes a escolher a linguagem Python, que é uma excelente opção para quem está começando a programar, o Dia Python foi concebido para promover a discussão e o ensino da linguagem.</p>

      <p>Esse ano estamos realizando a segunda Python Day Natal, o evento ocorrerá dia 17/12, e contará com um dia de palestras e mini-cursos voltados a comunidade python local, compareça.</p>
      <!--<p class="code-of-conduct"><a href="https://github.com/pythonbrasil/codigo-de-conduta" target="_blank">Leia nosso Código de Conduta</a></p>
    </div>-->

   
  </div>
</section>
