<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>
    <p class="schedule-description">17 - Palestras</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day17" class="item-link active">Dia 17</a>
        </li>

        <!-- <li class="item">
          <a href="#day8" class="item-link">Dia 8</a>
        </li>

        <li class="item">
          <a href="#day9" class="item-link">Dia 9</a>
        </li>

        <li class="item">
          <a href="#day10" class="item-link">Dia 10</a>
        </li>

        <li class="item">
          <a href="#day11" class="item-link">Dia 11</a>
        </li> -->
      </ul>
    </nav>

    {% include _day17.html %}

<!--     {% include _day08.html %}

    {% include _day09.html %}

    {% include _day10.html %}

    {% include _day11.html %} -->
  </div>
</section>
