<section class="speakers" id="speakers">
  <div class="row">
    <h1>Palestrantes</h1>

    <ul class="speakers-list">
      
      <li class="speaker">
        <a href="https://www.facebook.com/PyLadiesNatal/" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/pyladies.jpg" alt="PyLadies">
          </div>

          <h2 class="speaker-name">PyLadies</h2>
          <p class="speaker-description">Gabriela Cavalcante da Silva && Ana Clara Nobre.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://twitter.com/Luanfonceca" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/luan-fonseca.jpg" alt="Luan Fonseca">
          </div>

          <h2 class="speaker-name">Luan Fonseca</h2>
          <p class="speaker-description">Fundador do Speakerfight!</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https:twitter.com/MoisesAbraao" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/moises-abraao.jpg" alt="Moisés Abraão">
          </div>

          <h2 class="speaker-name">Moisés Abraão</h2>
          <p class="speaker-description">Estudante do Curso de Licenciatura em Informática. Desenvolvedor Web(estagiário) na Secretaria Municipal de Administração de Natal. Apaixonado por tecnologia. <3.</p>
        </a>
      </li>
      
      <li class="speaker">
        <a href="https://twitter.com/Sorayamedeirs" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/soraya-roberta.jpg" alt="Soraya Roberta">
          </div>

          <h2 class="speaker-name">Soraya Roberta</h2>
          <p class="speaker-description">Técnica em Informática pelo IFRN-Caicó, Graduanda em Sistemas de Informação pela UFRN-Caicó, criadora do Manifesto Literário Poesia Compilada.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://github.com/arthurcohen" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/arthur-cohen.jpg" alt="Arthur Cohen">
          </div>

          <h2 class="speaker-name">Arthur Cohen</h2>
          <p class="speaker-description">Estudante de TI, Technical Professinal da AWS, estagiário, entusiasta da tecnologia.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/yuri-freire.jpg" alt="Yuri Freire">
          </div>

          <h2 class="speaker-name">Yuri Freire</h2>
          <p class="speaker-description">.</p>
        </a>
      </li>
      
      <li class="speaker">
        <a href="https://twitter.com/jrcunha7" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/randson-cunha.jpg" alt="Randson Cunha">
          </div>

          <h2 class="speaker-name">Randson Cunha</h2>
          <p class="speaker-description">.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://twitter.com/hudsonbrendon" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/hudson-brendon.jpg" alt="Hudson Brendon">
          </div>

          <h2 class="speaker-name">Hudson Brendon</h2>
          <p class="speaker-description">Desenvolvedor Python com 24 anos de idade. Já passou por várias empresas e atualmente é sócio fundador da BrodyCast..</p>
        </a>
      </li>



      <!--<li class="speaker">
        <a href="http://www.thoughtworks.com/profiles/luiza-nunes" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/luiza-nunes.jpg" alt="Luiza Nunes">
          </div>

          <h2 class="speaker-name">Luiza Nunes</h2>
          <p class="speaker-description">Joseense, graduated at FATEC SJC, Luiza nurtures Agile and SW development with her experience as Quality Advocate Consultant at ThoughtWorks Brazil.She has worked with several domains and team sizes in different ThoughtWorks offices around the world.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://www.linkedin.com/in/rafgoncalves" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/rafael-goncalves.jpg" alt="Rafael Gonçalves">
          </div>

          <h2 class="speaker-name">Rafael Gonçalves</h2>
          <p class="speaker-description">Rafael Gonçalves fez Engenharia Mecatrônica e Mestrado na Poli/USP. Trabalhou no Fraunhofer Institute. É fundador da Tegris e do FieldLink.me. Em 2014 assumiu a coordenação do escritório de desenvolvimento de sistemas digitais da FDTE.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://www.linkedin.com/in/taniaandrea" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/tania-andrea.jpg" alt="Tânia Andrea">
          </div>

          <h2 class="speaker-name">Tânia Andrea</h2>
          <p class="speaker-description">Gerente de projetos na ZNC Sistemas. Formada em Ciência da Computação com Pós em Software Livre e Gestão de Projetos. Organizou a PythonBrasil[9] / PloneConf 2013. Atuou na Polícia Federal, Presidência, MJ, MRE, Apex-Brasil, Codevasf e é consultora externa de TI.</p>
        </a>
      </li>-->
    </ul>
  </div>
</section>
