<section class="volunteers">
  <div class="row">
    <h1>Voluntários</h1>
    <ul>
      <li><a href="" target="_blank">Allythy</a></li>
      <li><a href="https://twitter.com/_claranobre" target="_blank">Clara Nobre</a></li>
      <li><a href="https://twitter.com/pydebb" target="_blank">Debora Azevedo</a></li>
      <li><a href="" target="_blank">Elias</a></li>
      <li><a href="https://twitter.com/giancarlozero" target="_blank">Giancarlo Silva</a></li>
      <li><a href="" target="_blank">Hudson Brendon</a></li>
      <li><a href="" target="_blank">José Roberto</a></li>
      <li><a href="https://twitter.com/fariias_junior" target="_blank">Junior Farias</a></li>
      <li><a href="" target="_blank">Luan Fonseca de Farias</a></li>
      <li><a href="" target="_blank">Mário Araújo Xavier</a></li>
      <li><a href="https://twitter.com/marioidival" target="_blank">Mario Idival</a></li>
      <li><a href="" target="_blank">Moises Abraão</a></li>
      <li><a href="https://twitter.com/jrcunha7" target="_blank">Randson Cunha</a></li>
      <li><a href="https://twitter.com/realSeuRaul" target="_blank">Raul Lucena</a></li>
    </ul>
  </div>
</section>
