<section class="welcome">
  <div class="row">
    <header class="header">

      <div class="menu-scroll">
        <div class="center">
          {% include menu.html %}
        </div>
      </div>

      {% include menu.html %}
    </header>

    <article class="info">
      <h1>Python Day Natal 2016</h1>

      <h2>17 de dezembro</h2>
      <!-- <h3>07 e 08 - Tutoriais | 09 e 10 - Palestras | 11 - Sprints</h3>-->
      <p>Auditório B205<br>
      Instituto Metrópole Digital @ UFRN - Natal/RN</p>

      <a href="https://www.168h.com.br/activities/python-day-natal/" target="_blank" class="register">INSCREVA-SE AQUI</a>
    </article>
  </div>
</section>
